certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
cld2-cffi==0.1.4
click==7.1.2
docx==0.2.4
fastapi==0.63.0
h11==0.12.0
idna==2.10
joblib==1.0.1
lxml==4.6.3
multi-rake==0.0.1
nltk==3.6.2
numpy==1.20.2
openai==0.6.3
pandas==1.2.4
Pillow==8.2.0
pyception==0.1.1
pycparser==2.20
pydantic==1.8.1
pyee==6.0.0
pyrsistent==0.17.3
python-dateutil==2.8.1
python-docx==0.8.10
python-dotenv==0.17.0
python-multipart==0.0.5
pytz==2021.1
regex==2021.4.4
requests==2.25.1
six==1.15.0
slackers==1.0.0
starlette==0.13.6
tqdm==4.60.0
typing-extensions==3.7.4.3
urllib3==1.26.4
uvicorn==0.13.4
xlrd==2.0.1
